$theme-color-01: #758650;
$theme-color-02: #B5C267;
$theme-color-03: #FFE27C;
$theme-color-04: #E8B634;
$theme-color-05: #F8F9F8;
$theme-color-06: #C9B6A1;
$theme-color-06-90: #CFBDAB;
$theme-color-06-80: #D4C5B4;
$theme-color-06-70: #D9CCBD;
$theme-color-06-60: #DFD3C7;
$theme-color-06-50: #E4DAD0;
$theme-color-06-40: #E9E2D9;
$theme-color-06-30: #EFE9E3;
$theme-color-06-20: #F4F0EC;
$theme-color-06-10: #F9F8F5;
$white: #fff;
$black: #333;
$black-01: #444;
$black-02: #555;
$black-03: #666;
$black-04: #777;
$black-05: #888;
$black-06: #999;
$black-07: #aaa;
$black-08: #bbb;
$black-09: #ccc;
$black-10: #ddd;
$accent-01: #7DB2FF;
$accent-02: #FF7D7E;
$accent-03: #CFFF66;
$accent-04: #4A7487;