@import './variables/color.scss';

.profile_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $black;
    overflow: hidden;

    &:hover {
        background-color: $theme-color-01;
        transition: all .3s ease-in;
    }

    .profile_img {
        color: $white;
    }
}
.profile_text {
    margin-left: 10px;
    font-size: 11px;
    color: $black !important;
}